<footer id="footerWrapper" class="footer2">
    <section id="mainFooter">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footerWidget">
                        <img src="/images/logo/bottom.png" alt="Company" id="footerLogo">
                        <p><a href="https://www.cloudcms.com" title="Cloud CMS">Cloud CMS</a> makes it easy to create, manage and publish content.  We provide all of the back-end infrastructure your business needs to build better mobile and web applications.  You focus on innovation while we do the rest.</p>
                    </div>
                </div>


                <div class="col-md-3 col-sm-6">
                    <div class="footerWidget">

                        <h3>Links</h3>
                        <ul class="list-unstyled worksList">
                            <li><a href="/catalog/index.html" class="tips" title="City Guide"><img src="/theme/images/theme-pics/works1.jpg" alt="Product Catalog"></a></li>
                            <li><a href="/guide/index.html" class="tips" title="City Guide"><img src="/theme/images/theme-pics/works2.jpg" alt="City Guide"></a></li>
                        </ul>
                    </div>
                </div>



                <div class="col-md-3 col-sm-6">
                    <div class="footerWidget">
                        <h3>Latest news</h3>
                        <ul class="list-unstyled iconList borderList">
                            <li><a href="#">News Item #1</a></li>
                            <li><a href="#">News Item #2</a></li>
                            <li><a href="#">News Item #3</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footerWidget">

                        <h3>Cloud CMS</h3>
                        <address>
                            <p>
                                <i class="icon-location"></i>&nbsp;<br>1220 Washington Street
                                <br/>
                                West Newton, MA 02465
                                <br/>
                                USA
                                <br/>
                                <i class="icon-phone"></i>&nbsp;617.475.5288 <br>
                                <i class="icon-mail-alt"></i>&nbsp;<a href="mailto:info@cloudcms.com">info@cloudcms.com</a>
                            </p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="footerRights">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <ul class="socialNetwork">
                        <li><a href="#" class="tips" title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
                        <li><a href="#" class="tips" title="follow me on Twitter"><i class="icon-twitter-bird iconRounded"></i></a></li>
                        <li><a href="#" class="tips" title="follow me on Google+"><i class="icon-gplus-1 iconRounded"></i></a></li>
                        <li><a href="#" class="tips" title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
                        <li><a href="#" class="tips" title="follow me on Dribble"><i class="icon-dribbble iconRounded"></i></a></li>
                    </ul>
                </div>


                <div class="col-md-12">
                    <p>Copyright © 2014 <a href="https://www.cloudcms.com" target="blank">Cloud CMS</a> / All rights reserved.</p>
                </div>

            </div>
        </div>
    </section>
</footer>