{@layout path="guide" /}

{<content}

<section id="page">
    <header class="page-header mb30">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>City Guide</h1>
                </div>
            </div>
        </div>
    </header>
    <section id="content" class="mt30 pb30">
        <div class="container">
            <div class="row">
                <!-- sidebar -->
                <aside id="sidebar" class="col-md-3">
                    <nav id="subnav">
                        <ul>
                            <li><a class="active" href="/guide/index.html">Guide Overview<i class=" icon-right-open-mini"></i></a></li>
                            <li><a href="/guide/routes.html">View Routes<i class=" icon-right-open-mini"></i></a></li>
                            <li><a href="/guide/cities.html">View Cities<i class=" icon-right-open-mini"></i></a></li>
                        </ul>
                    </nav>
                </aside>
                <!-- end sidebar -->

                <!-- page content-->
                <section class="col-md-9">

                    <h3>Welcome to the City Guide</h3>

                </section>
                <!--end page content right-->
            </div>
        </div>
    </section>
    <!--end page content-->

</section>

{/content}

